.spacer {
  flex: 1 1 auto;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin: 15px;
}

a {
  color: white;
  text-decoration: none;
}

a:focus {
  color: inherit;
}

.active {
  font-weight: bolder;
  text-decoration: underline;
}
